{% extends "base.html" %}

{% block body %}

<h4>Service accounts for project: {{ project_id }}</h4>

<table class="table table-striped">
    <thead>
    <tr>
        <td>email</td>
        <td>displayName</td>
        <td></td>
    </tr>
    </thead>
    {% for account in accounts %}
    <tr>
        <td>{{ account['email'] }}</td>
        <td>{{ account['displayName'] }}</td>
        <td><a href="/createKeys?serviceAccount={{ account['name'] }}">Create keys</a></td>
    </tr>
    {% endfor %}
</table>

{% endblock %}

